
<div class="container">
  <%= link_to("Add a new restaurant", new_restaurant_path) %>
    <% @restaurants.each do |restaurant| %>
    <h2><%= link_to(restaurant.name, restaurant_path(restaurant.id)) %></h2>
    <% end %>
</div>
